@import "../../variables";

.containerTheme {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  right: 30px;
  bottom: 30px;
  width: 38px;
  height: 38px;
  background-color: $accent;
  border-radius: 5px;

  cursor: pointer;
}
